<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
   <add key="defaultConnection" value="sqlCon" />
    <add key="Rnc-ipaddress" value="10.15.74.10"/>
    <add key="RemoveTimeout" value="3"/><!--Seconds-->
    <add key="KeyframeTimeout" value="5"/>
    <add key="UnSeenList" value="5"/> <!--Seconds-->
    <add key ="KeyFrame"  value="1"/><!--Seconds-->
    <add key="RNCCheckInterval" value="1"/><!--Seconds-->
    <add key="DeviceHeartBeat" value="1"/>
    <add key="GatewayId" value="RNCVodaworld"/>
    <add key ="Secret" value="Inno65"/>
    <add key="Username" value="root"/>
    <add key="ClientId" value="t000000065"/>
    <!--<add key="textdebugger" value="On"/>-->
    
  </appSettings>

  <connectionStrings>
    <add name="sqlCon" connectionString="Data Source=.;Initial Catalog=DeviceManager;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>